/* ----------faq.html---------- */

#QandA div {
  padding-left: 20px;
  padding-right: 20px;
}

#QandA div h2 {
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}


/* ----------/faq.html---------- */
