@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ----------index.html---------- */

#book-carousel {
  display: flex;
  width: 100%;
  height: 375px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #eff7f9;
}

.carousel-item img {
  height: 375px;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

#carousel-control-left,
#carousel-control-right {
  color: rgb(155, 155, 155);
  font-size: 40px;
  display: inline-block;
  position: absolute;
}

#carousel-control-left {
  left: 6%;
  bottom: 45%;
}

#carousel-control-right {
  right: 6%;
  bottom: 45%;
}

#carousel-control-left:hover,
#carousel-control-right:hover {
  color: white;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  /*flex-wrap: nowrap;*/
  align-items: center;
  justify-content: center;
}

.bookbox {
  height: 92%;
  min-width: 65%;
  max-width: 65%;
  background-color: rgba(107, 103, 94, 0.5);
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.flex1 {
  max-width: 30%;
  min-width: 30%;
  max-height: 95%;
  overflow: hidden;
  object-fit: fill;
}

.flex1 img {
  height: 100%;
  width: 75%;
}

.flex2 {
  max-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  color: #eff7f9;
  padding-right: 20px;
  padding-left: 20px;
}

.flex2item0 {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  color: #97aaa2;
}

.flex2item1 {
  font-size: 20px;
  font-weight: 00;
}

.flex2item2 {
  font-weight: 200;
}

.flex2item2 p:nth-of-type(1),
.flex2item2 p:nth-of-type(3) {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#book-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
}

#book-links div {
  display: block;
  width: 20%;
  height: 100%;
}

#book-links div:nth-of-type(1) {
  background-color: #775a45;
}
#book-links div:nth-of-type(2) {
  background-color: #2f312c;
}
#book-links div:nth-of-type(3) {
  background-color: #775a45;
}
#book-links div:nth-of-type(4) {
  background-color: #2f312c;
}
#book-links div:nth-of-type(5) {
  background-color: #775a45;
}

#book-links div a {
  display: inline-block;
  color: #eff7f9;
  font-size: 15px;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

#coverbackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#background-photo {
  display: block;
  background-image: url("../../img/pexels-photo-207662.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#background {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  flex-wrap: wrap;
  padding: 30px 0 30px 0;
}

#box1,
#box2 {
  width: 50%;
  padding: 20px;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

#box3 {
  width: 100%;
  padding: 20px;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

#box1 span,
#box2 span,
#box3 span {
  background-color: #effcffe1;
  width: 40vw;
  display: block;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 10px 10px grey;
}

#box3 span {
  width: 75vw;
}

#box3 span article img {
  margin: 15px;
}

#box1 span div {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 15px;
  background-image: url("../../img/4173828699_c02d56200e_b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}
#box2 span div {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 15px;
  background-image: url("../../img/The_Cloughmore_Stone.Rostrevor_-_panoramio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}

#box3 span article {
  margin-bottom: 20px;
}

#testimonial-image1,
#testimonial-image2,
#testimonial-image3 {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#collapse-book-list {
  display: block;
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 50px;
  text-align: center;
}

#collapse-book-list a {
  text-decoration: none;
  width: 200px;
  background-color: rgb(170, 170, 170);
  border-radius: 0 0 50px 50px;
  height: 100%;
}

#collapse-book-list a p {
  color: #2f312c;
  font-size: 98%;
  font-weight: 700;
}

#collapse-book-list a i {
  color: #2f312c;
  font-size: 40px;
  position: absolute;
  left: 1%;
  right: 1%;
  top: 3px;
}

#collapse-book-list a:hover {
  background-color: rgba(119, 90, 69, 0.856);
}

@media only screen and (max-width: 900px) {
  #book-links {
    flex-direction: column;
    height: 250px;
  }
  #book-links div {
    width: 100%;
    height: 20%;
  }
  #background {
    flex-direction: column;
  }
  #box1,
  #box2 {
    width: 100%;
  }
  #box1 span,
  #box2 span,
  #box3 span {
    width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  #testimonial-image1,
  #testimonial-image2,
  #testimonial-image3 {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  #box1 span,
  #box2 span,
  #box3 span {
    width: 100%;
  }
  #box1 span div,
  #box2 span div {
    height: 150px;
  }
  #box1,
  #box2,
  #box3 {
    font-size: 13px;
  }
  #box1 span h2,
  #box2 span h2,
  #box3 span h2 {
    font-size: 20px;
  }

  .bookbox {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .flex1 {
    max-height: 35%;
    min-height: 35%;
    min-width: 60%;
    max-width: 60%;
  }
  .flex1 img {
    max-height: 99%;
    width: auto;
    object-fit: fill;
    padding-bottom: 15px;
  }
  .flex2 {
    max-height: 65%;
    min-width: 98%;
    justify-content: center;
    align-content: center;
  }
  .flex2item0 {
    font-size: 14px;
  }
  .flex2item1 {
    font-size: 14px;
  }
  .flex2item2 {
    font-size: 14px;
  }
  #book-carousel {
    height: 450px;
  }
  .carousel-item img {
    height: 450px;
  }
  #carousel-control-left,
  #carousel-control-right {
    font-size: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .bookbox {
    min-width: 92%;
    max-width: 92%;
  }
  #carousel-control-left {
    left: 10%;
  }
  #carousel-control-right {
    right: 10%;
  }
  #box1 span,
  #box2 span,
  #box3 span {
    padding: 15px;
  }
}

/* ----------/index.html---------- */
