@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Search: ctrl+F
0.Body
1.Carousel
    1.1.Carousel-sliders
2.About-section
3.Media-screen-width
    3.1.991px
    3.2.576px
    3.3.450px
*/

/* #### 0.Body #### */

#background-photo {
  background-image: url("../img/pexels-photo-207662.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#coverbackground {
  width: 100%;
  height: 100%;
  background-color: #000000be;
}

/* #### 1.Carousel #### */

#carousel-container {
  display: flex;
  width: 100%;
  height: 520px;
  border-bottom: 10px solid rgba(114, 109, 96, 0.418);
  border-top: 10px solid rgba(114, 109, 96, 0.418);
}

.carousel-item img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.background-cover {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  height: 92%;
  width: auto;
  background-color: rgba(114, 109, 96, 0.5);
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  max-height: 96%;
  overflow: hidden;
  padding: 20px;
}

.box1 img {
  height: 60%;
  width: 200px;
  align-self: center;
  object-fit: scale-down;
}

.box1 a {
  height: 40%;
  align-self: center;
  width: 120px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: "Poppins" sans-serif;
  border: 2px solid #dae8ec;
  background-color: rgba(107, 103, 94, 0.5);
  color: #dae8ec;
  border-radius: 10px;
}

.box1 a:hover {
  background-color: rgba(114, 109, 96);
}

.box2 {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  font-family: "Poppins", sans-serif;
  color: #dae8ec;
  padding: 20px;
}

.box2p1 {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  color: #97aaa2;
}

.box2p2 {
  font-size: 20px;
  font-weight: 00;
}

.box2p3 {
  font-weight: 200;
}

.box2p3 p:nth-of-type(1),
.box2p3 p:nth-of-type(3) {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* #### 1.1.Carousel-sliders #### */

#carousel-control-left,
#carousel-control-right {
  color: rgb(155, 155, 155);
  font-size: 40px;
  display: inline-block;
  position: absolute;
}

#carousel-control-left {
  left: 6%;
}

#carousel-control-right {
  right: 6%;
}

#carousel-control-left:hover,
#carousel-control-right:hover {
  color: white;
}

#carousel-sliders {
  height: 1px;
  position: absolute;
  top: 200px;
}

/* #### 2.About-section #### */

#about-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  flex-wrap: wrap;
  padding: 30px 0 30px 0;
}

#who-we-are,
#where-we-meet {
  width: 50%;
  padding: 20px;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

#testimonials {
  width: 100%;
  padding: 20px;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

#who-we-are span,
#where-we-meet span,
#testimonials span {
  background-color: #dae8ec;
  width: 40vw;
  display: block;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 10px 10px grey;
}

#who-we-are span div {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 15px;
  background-image: url("../img/4173828699_c02d56200e_b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}

#where-we-meet span div {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 15px;
  background-image: url("../img/The_Cloughmore_Stone.Rostrevor_-_panoramio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}

#testimonials span {
  width: 75vw;
}

#testimonials span article img {
  margin: 15px;
}

#testimonials span article {
  margin-bottom: 20px;
}

#testimonial-image1,
#testimonial-image2,
#testimonial-image3 {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

/* #### 3.Media-screen-width #### */

/* #### 3.1.991px #### */
@media only screen and (max-width: 991px) {
  /* #### Carousel #### */
  #carousel-container {
    height: 420px;
  }
  .carousel-item img {
    height: 400px;
  }
  #carousel-sliders {
    top: 150px;
  }
  .box1,
  .box2 {
    width: 225px;
  }
  .box1 img {
    height: 60%;
    width: 150px;
  }
  .box1 a {
    font-size: 13px;
    width: 100px;
  }
  .box2p1,
  .box2p2,
  .box2p3 {
    font-size: 15px;
  }
  /* #### About-section #### */
  #about-container {
    flex-direction: column;
  }
  #who-we-are,
  #where-we-meet {
    width: 100%;
  }
  #who-we-are span,
  #where-we-meet span,
  #testimonials span {
    width: 80%;
    font-size: 15px;
  }
  #who-we-are span h2,
  #where-we-meet span h2,
  #testimonials span h2 {
    font-size: 25px;
  }
}

/* #### 3.2.576px #### */
@media only screen and (max-width: 576px) {
  /* #### Carousel #### */
  #carousel-container {
    height: 490px;
  }
  .carousel-item img {
    height: 470px;
  }
  .content-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
  }
  .box2p1,
  .box2p2,
  .box2p3 {
    font-size: 14px;
  }
  .box1 {
    height: 150px;
    width: 300px;
    flex-direction: column;
    overflow: visible;
  }
  .box1 img {
    width: 75px;
    height: 125px;
    margin-top: 30px;
  }
  .box1 a {
    font-size: 12px;
    width: 100px;
    height: 30px;
    margin-top: -40px;
  }
  .box2 {
    height: 200px;
    width: 300px;
    margin-top: 40px;
    padding: 0;
    margin: 0;
  }
  #carousel-control-left,
  #carousel-control-right {
    font-size: 35px;
  }
  #carousel-sliders {
    top: 200px;
  }
  /* #### About-section #### */
  #testimonial-image1,
  #testimonial-image2,
  #testimonial-image3 {
    width: 50px;
    height: 50px;
  }
  #who-we-are span,
  #where-we-meet span,
  #testimonials span {
    width: 100%;
    font-size: 12px;
  }
  #who-we-are span div,
  #where-we-meet span div {
    height: 150px;
  }
  #who-we-are span h2,
  #where-we-meet span h2,
  #testimonials span h2 {
    font-size: 18px;
  }
  #testimonials span article {
    display: flex;
    flex-direction: column;
  }
  #testimonials span article img {
    align-self: center;
  }
}

/* #### 3.3.450px #### */
@media only screen and (max-width: 450px) {
  /* #### Carousel #### */
  .content-container {
    width: 92%;
  }
  #carousel-control-left {
    left: 10%;
  }
  #carousel-control-right {
    right: 10%;
  }
  /* #### About-section #### */
  #who-we-are span,
  #where-we-meet span,
  #testimonials span {
    padding: 15px;
  }
  #testimonials span article {
    margin-bottom: 0;
  }
}
