@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Search: ctrl+F
1.Members
2.Gallery
3.Media-screen-width
    3.1.911px
    3.2.450px
*/

/* #### 1.Members #### */
#list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.flex-list {
  align-self: center;
  padding: 20px 20px 0 20px;
}

.members {
  width: 130px;
  height: 180px;
  display: inline-block;
}

.members div {
  height: 120px;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.members div img {
  align-self: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.members p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: -5px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.members p:first-of-type {
  font-weight: 700;
}

/* #### 2.Gallery #### */
#gallery {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  height: 820px;
  overflow: hidden;
  padding: 10px;
  border-right: 5px solid #dae8ec;
  border-left: 5px solid #dae8ec;
  margin: 0;
  margin-bottom: 30px;
  background-color: #c0cdd1;
}

#gallery img {
  border: 1px solid #c0cdd1;
  height: 200px;
  max-width: 50%;
  min-width: 50%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  align-self: center;
}

/* #### 3.Media-screen-width #### */

/* #### 3.1.991px #### */
@media only screen and (max-width: 991px) {
  #list {
    margin-bottom: 30px;
  }
  #gallery {
    border: 0px;
    margin-bottom: 0;
  }
}

/* #### 3.2.450px #### */
@media only screen and (max-width: 450px) {
  .flex-list {
    margin: 0;
  }
  .members {
    width: 30vw;
    height: auto;
  }
  .members div {
    width: 30vw;
  }
  .members div img {
    height: 90px;
    width: 90px;
  }
  .members p {
    font-size: 11px;
  }
}
