@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800&display=swap");

section {
  background-color: #f0f8fa;
  color: #2f312c;
  padding-top: 20px;
}

/* ----------Header---------- */

#active-page {
    background-color: rgba(47, 49, 44, 0.2);
    border-radius: 10px;
}

#header {
  padding: 0;
  background-color: #91a19a;
  box-shadow: 0 3px 4px grey;
}

/* ----------Navbar Toggler---------- */

#nav-button {
  margin-right: 30px;
}

#toggle-icon {
  color: #2f312c;
}

#toggle-icon i {
  padding: 5px;
  border: 1px solid #2f312c;
  border-radius: 10px;
}

#toggle-icon i:hover {
  background-color: rgba(47, 49, 44, 0.2);
  color: rgba(47, 49, 44);
}

/* ----------/navbar Toggler---------- */

/* ----------Logo---------- */

#logo {
  margin-left: 30px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#logo a {
  text-decoration: none;
  padding: 0;
}

#logo a img {
  height: 50px;
  padding: 5px;
}

/* ----------/logo---------- */

/* ----------Navbar---------- */

#menu {
  margin-right: 30px;
}

#menu li {
  padding: 12px 0px 12px 0px;
}

#menu li a {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #2f312c;
  margin-left: 1vw;
}

#menu li a i {
  font-size: 16px;
}

/* ----------/navbar---------- */

/* ----------Media---------- */

#menu li a:hover {
  background-color: rgba(47, 49, 44, 0.2);
  padding: 6px 8px 6px 8px;
  box-shadow: 0 4px 4px grey;
  border-radius: 10px;
}

@media only screen and (max-width: 991px) {
  #menu {
    margin-right: 0;
  }
  #menu li {
    display: block;
    text-align: right;
    margin-right: 40px;
    padding: 0;
  }
  #menu li a {
    padding: 6px 8px 6px 8px;
    margin-left: 0;
  }
  #collapseNav {
    border-top: 2px solid #eff7f9;
    background-color: #91a19a;
  }
  #menu li a:hover {
    background-color: rgba(47, 49, 44, 0.2);
    padding: 6px 8px 6px 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px;
  }
}

@media only screen and (max-width: 569px) {
  #nav-button {
    margin-right: 5px;
  }
  #logo {
    margin-left: 5px;
  }
  #logo a img {
    height: 9vw;
  }
  #menu li {
    margin-right: 2vw;
  }
  #menu li a {
    font-size: 4vw;
  }
  #menu li a:hover {
    padding: 6px 8px 6px 8px;
  }
  #toggle-icon i {
    font-size: 15px;
    border-radius: 7px;
    padding: 4px;
  }
}

@media only screen and (max-width: 374px) {
  #logo a img {
    height: 31px;
  }
}

/* ----------/media---------- */

/* ----------/header---------- */

/* ----------Footer---------- */

footer {
  background-color: #91a19a;
  font-family: "Poppins", sans-serif;
  color: #2f312c;
  font-size: 13px;
}

#foot #address,
#foot #socialmedia {
  text-align: center;
  height: 100px;
  padding-top: 10px;
  display: block;
}

#copyright {
  position: relative;
  height: 60px;
  margin: 0;
  padding: 0;
}

#copyright p {
  position: absolute;
  right: 15px;
  bottom: 0;
}

#address {
  position: relative;
  text-align: center;
}

#address div {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

#socialmedia p {
  font-size: 15px;
}

#socialmedia ul li a i {
  padding: 2px;
  border: 1px solid #2f312c;
  border-radius: 20%;
}

#socialmedia ul li a i {
  color: #2f312c;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#socialmedia ul li a #fb:hover {
  color: #3b5998;
  background-color: rgba(255, 255, 255, 0.5);
}
#socialmedia ul li a #tt:hover {
  color: #08a0e9;
  background-color: rgba(255, 255, 255, 0.5);
}
#socialmedia ul li a #yt:hover {
  color: #c4302b;
  background-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 991px) {
  #socialmedia {
    border-bottom: 1px solid #2f312c;
  }
}

@media only screen and (max-width: 569px) {
  #copyright {
    height: 80px;
  }
  footer {
    font-size: 12px;
  }
}

/* ----------/footer---------- */

/* ----------index.html---------- */

#book-carousel {
  display: flex;
  width: 100%;
  height: 375px;
  margin: 0 auto;
}

section h2:first-of-type {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.carousel-item img {
  height: 375px;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

#carousel-control-left,
#carousel-control-right {
  color: rgb(155, 155, 155);
  font-size: 40px;
  display: inline-block;
  position: absolute;
}

#carousel-control-left {
  left: 4%;
  top: 45%;
}

#carousel-control-right {
  right: 4%;
  top: 45%;
}

#carousel-control-left:hover,
#carousel-control-right:hover {
  color: white;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.bookbox {
  height: 92%;
  min-width: 65%;
  max-width: 65%;
  background-color: rgba(107, 103, 94, 0.5);
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.flex1 {
  max-width: 30%;
  min-width: 30%;
  max-height: 100%;
  overflow: hidden;
  object-fit: fill;
}

.flex1 img {
  height: 100%;
  width: 75%;
}

.flex2 {
  max-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  color: #eff7f9;
}

.flex2item0 {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  color: rgb(213, 224, 196);
}

.flex2item1 {
  font-size: 18px;
  font-weight: 600;
}

.flex2item2 {
  font-weight: 200;
}

.flex2item2 p:nth-of-type(1),
.flex2item2 p:nth-of-type(3) {
  font-weight: 400;
}

#book-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
}

#book-links div {
  display: block;
  width: 20%;
  height: 100%;
}

#book-links div:nth-of-type(1) {
  background-color: #775a45;
}
#book-links div:nth-of-type(2) {
  background-color: #2f312c;
}
#book-links div:nth-of-type(3) {
  background-color: #775a45;
}
#book-links div:nth-of-type(4) {
  background-color: #2f312c;
}
#book-links div:nth-of-type(5) {
  background-color: #775a45;
}

#book-links div a {
  display: inline-block;
  color: #eff7f9;
  font-size: 15px;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

#background {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-image: url("../../img/pexels-photo-207662.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#homesection2 {
  text-align: center;
  width: 70%;
  height: auto;
  display: block;
  margin: 25px 0 25px 0;
  padding: 20px;
  background-color: rgba(240, 248, 250, 0.904);
  border-radius: 30px;
  box-shadow: 10px 10px grey;
}

#testimonial-image1,
#testimonial-image2,
#testimonial-image3 {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#homesection2 article {
  margin-bottom: 25px;
}

#homesection2 h2 {
  margin-top: 20px;
}

#collapse-book-list {
  display: block;
  position: relative;
  text-decoration: none;
  background-color: rgba(145, 161, 154, 0.6);
  width: 100%;
  height: 47px;
  text-align: center;
  box-shadow: 0 2px 5px rgb(0, 0, 15);
}

#collapse-book-list p {
  color: #2F312C;
  font-size: 98%;
  font-weight: 700;
}

#collapse-book-list i {
  color: #2F312C;
  font-size: 40px;
  position: absolute;
  left: 1%;
  right: 1%;
  top: 3px;
}

#collapse-book-list:hover {
  background-color: rgba(119, 90, 69, 0.856);
}

@media only screen and (max-width: 900px) {
  #homesection2 {
    width: 80%;
  }
  #book-links {
    flex-direction: column;
    height: 250px;
  }
  #book-links div {
    width: 100%;
    height: 20%;
  }
}

@media only screen and (max-width: 650px) {
  #homesection2 {
    width: 95%;
  }
  #homesection2 article {
    font-size: 15px;
  }
  #homesection2 h2 {
    font-size: 25px;
  }
  #testimonial-image1,
  #testimonial-image2,
  #testimonial-image3 {
    width: 40px;
    height: 40px;
  }

  .bookbox {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .flex1 {
    max-height: 30%;
    min-height: 30%;
    min-width: 50%;
    max-width: 50%;
  }
  .flex1 img {
    max-height: 100%;
    width: auto;
    object-fit: fill;
    margin-bottom: 5%;
  }
  .flex2 {
    max-height: 65%;
    justify-content: center;
    align-content: center;
  }
  .flex2item0 {
    font-size: 15px;
  }
  .flex2item1 {
    font-size: 14px;
  }
  .flex2item2 {
    font-size: 13px;
  }
  #book-carousel {
    height: 450px;
  }
  .carousel-item img {
    height: 450px;
  }
  #carousel-control-left,
  #carousel-control-right {
    font-size: 30px;
  }
}

@media only screen and (max-width: 450px) {
  #homesection2 {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  #homesection2 article {
    font-size: 12px;
  }
  #homesection2 h2 {
    font-size: 22px;
  }
  #testimonial-image1,
  #testimonial-image2,
  #testimonial-image3 {
    width: 0;
    height: 0;
  }
}

/* ----------/index.html---------- */

section {
  background-color: rgba(145, 161, 154, 0.25);
  font-family: "Poppins", sans-serif;
  color: #2f312c;
}

/* ----------faq.html---------- */

#QandA div {
  padding-left: 20px;
  padding-right: 20px;
}

#QandA div h2 {
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}

@media only screen and (max-width: 480px) {
  section h2.page-title {
    font-size: 6vw;
    border-bottom: 1px solid #1c2933;
  }
}

/* ----------/faq.html---------- */

/* ----------members.html---------- */

section h2.page-title {
  padding-bottom: 5px;
  padding-top: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 28px;
}

#list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-list {
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.members {
  width: 120px;
  height: 180px;
}

.members div {
  width: 100%;
  height: 120px;
  border-radius: 100%;
  object-fit: fill;
  overflow: hidden;
}

.members p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.members p:first-of-type {
  font-weight: 700;
}

.members div img {
  height: 100%;
  width: auto;
  display: block;
}

#gallery {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  overflow: hidden;
  padding: 10px;
  border-right: 5px solid whitesmoke;
  border-left: 5px solid whitesmoke;
  margin: 0;
  background-color: #7395ae4f;
}

#gallery img {
  border: 1px solid #7395ae4f;
  height: 200px;
  max-width: 50%;
  min-width: 50%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  align-self: center;
}

@media only screen and (max-width: 390px) {
  .members {
    width: 30vw;
    height: auto;
  }
  .members div {
    width: 27vw;
    height: 27vw;
  }
}

/* ----------contact.html---------- */

#google-map iframe {
  width: 125%;
  height: 300px;
  align-self: center;
  padding-left: 5%;
}

#contact-address {
  text-align: left;
  font-size: 15px;
  padding-left: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#input1,
#input2 {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

#name,
#email,
#number,
#mailinglist,
#message {
  width: 80%;
  align-self: center;
}

#input1 label,
#input2 label {
  margin: 8px 0 8px 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

#input1 input,
#input2 textarea {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

#input1 #name,
#input1 #email,
#input1 #phone,
#input2 textarea {
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  border: 1px solid grey;
}

form {
  display: flex;
  width: 100%;
  flex-direction: row;
}

#input1 {
  margin-bottom: 20px;
}

#input1,
#input2 {
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

#input1 span label,
#input1 span input {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  width: 50%;
  margin-top: 30px;
}

#input1 span input {
  width: 20px;
}

#input2 textarea {
  height: 150px;
}

#input2 button {
  margin-top: 10px;
  width: 150px;
  height: 50px;
  color: #2f312c;
  align-self: center;
  border: 2px solid grey;
  border-radius: 20px;
  box-shadow: 2px 2px 2px grey;
  background-color: #eff7f9;
}

#input2 button:hover {
  background-color: rgba(47, 49, 44, 0.2);
}

@media only screen and (max-width: 768px) {
  #google-map iframe {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    align-self: center;
  }
  #contact-address {
    text-align: center;
    padding: 0;
    margin-top: 20px;
  }
  form {
    flex-direction: column;
  }
  #input1,
  #input2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #input2 {
    margin-bottom: 30px;
  }
}
