@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800&display=swap');
/* header */

nav {
  background-color: #7395ae;
}

#header {
  padding: 0;
}

#navbar {
  margin: 10px 0 10px 0;
  padding: 0;
}

#logo {
  margin-top: 10px;
  margin-bottom: 17px;
}

#logo a {
  text-decoration: none;
  padding: 0;
}

#logo a h2 {
  color: black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  display: block;
  padding: 0;
  font-size: 40px;
  margin: 0;
  color: #344b5c;
}

#menu {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  display: block;
  align-content: center;
}

#menu .list-inline-item {
  margin: 0;
  padding-left: 7px;
  padding-right: 7px;
}

#menu li {
  color: inherit;
  display: inline;
  padding: 0;
  margin-left: 5%;
}

#menu li a {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  margin-left: 2.5%;
  margin-right: 2.5%;  
  color: #344b5c;
}

@media only screen and (max-width: 433px) {
  #logo a h2 {
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  #menu {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  #menu .list-inline-item {
    padding: 0;    
    margin-left: 1vw;
    margin-right: 1vw;
  }
  #menu li a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  #menu li a {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media only screen and (max-width: 503px) {
  #menu li a {
    margin: 0 1vw 0 1vw;
  }
}

/* /header */
/* footer */

footer {
  border: 1px solid black;
}

.col {
  text-align: center;
}

h6 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

#address p {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 15px;
}

#copyright i {
  font-size: 10px;
}

#socialmedia li {
  list-style-type: none;
  display: inline-block;
  font-size: 30px;
  padding: 0;
}

#socialmedia li a {
  color: black;
}

#socialmedia li a:hover {
  background-color: #c0c0c0;
}

/* /footer */
