@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800&display=swap");
/* header */

#nav-button {
  margin-right: 30px;
}

#toggle-icon {
  border: 1px solid #344b5c;
  color: #344b5c;
  padding: 8px;
  border-radius: 25%;
}

#toggle-icon i {
  position: relative;
  left: -2px;
  top: -4px;
}

#toggle-icon:hover {
    background-color: #5d829e;
}

#header {
  padding: 0;
  background-color: #7395ae;
}

#navbar {
  margin: 10px 0 10px 0;
  padding: 0;
}

#logo {
  margin-left: 30px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#logo a {
  text-decoration: none;
  padding: 0;
}

#logo a h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  display: block;
  padding: 0;
  font-size: 40px;
  margin: 0;
  color: #344b5c;
}

#menu {
  padding: 0;
  display: inline;
  margin-right: 30px;
}

#menu li a {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: #344b5c;
  margin-left: 20px;
}

@media only screen and (max-width: 991px) {
  #menu li {
    display: block;
    text-align: right;
    margin-right: 40px;
  }
  #collapseNav {
    border-top: 1px solid #344b5c;
    background-color:#5d829e;
  }
}

@media only screen and (max-width: 569px) {
  #nav-button {
    margin-right: 5px;
  }
  #logo {
    margin-left: 5px;
  }
  #logo a h2 {
    font-size: 7vw;
  }
  #menu li a {
      font-size: 4vw;
  }
}

#menu li a:hover {
    color:#5d829e;
    background-color: #344b5c;
    padding: 12px 6px 12px 6px;
}

/* /header */
/* footer */

footer {
  border: 1px solid black;
}

.col {
  text-align: center;
}

h6 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

#address p {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 15px;
}

#copyright i {
  font-size: 10px;
}

#socialmedia li {
  list-style-type: none;
  display: inline-block;
  font-size: 30px;
  padding: 0;
}

#socialmedia li a {
  color: black;
}

#socialmedia li a:hover {
  background-color: #c0c0c0;
}

/* /footer */
