@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Search: ctrl+F
0.Body
1.Header
    1.1.Logo
    1.2.Navbar
    1.3.Navbar-Toggler
    1.4.Modal
2.Footer
    2.1.Social Media
    2.2.Address
    2.3.Copyright
3.Media-screen-width
    3.1.991px
    3.2.576px
    3.3.450px
*/

/* #### 0.Body #### */
body {
  font-family: "Poppins", sans-serif;
  background-color: #dae8ec;
}

#page-title {
  text-align: center;
  padding: 15px;
  font-size: 23px;
  margin-top: 10px;
}

/* #### 1.Header #### */
#header-container {
  background-color: rgba(114, 109, 96, 0.55);
  padding: 0;
}

/* #### 1.1.Logo #### */
#logo-container {
  margin-left: 3vw;
  padding: 10px 0 10px 0;
}

#logo-container a img {
  height: 45px;
  padding: 5px;
}

/* #### 1.2.Navbar #### */
#menu {
  margin-right: 3vw;
}

#menu li {
  padding: 12px 0px 12px 0px;
  margin-left: -3px;
  margin-right: -3px;
}

#menu li a {
  text-decoration: none;
  list-style-type: none;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  color: #2f312c;
  margin-left: 2vw;
  padding: 6px 8px 6px 8px;
}

@keyframes hover {
  from {background-color: transparent;}
  to {background-color: rgba(114, 109, 96, 0.5);}
}

.hover:hover {
  padding: 6px 8px 6px 8px;
  border-radius: 10px;
  animation-name: hover;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

#menu li a:active {
  color: #2f312c6c;
}

#active-page {
  background-color: rgba(114, 109, 96, 0.5);
  border-radius: 10px;
}

/* #### 1.3.Navbar-Toggler #### */

#nav-button {
  margin-right: 3vw;
}

#toggle-icon {
  color: #2f312c;
}

#toggle-icon i {
  padding: 8px;
  font-size: 25px;
  border: 2px solid #2f312c;
  border-radius: 10px;
}

#toggle-icon i:hover {
  background-color: rgba(114, 109, 96, 0.5);
}

/* #### 1.4.Modal #### */

#loginModal,
#registerModal {
  padding: 0px;
}

#signup-modal,
#modal {
  background-color: #dae8ec;
  padding: 8px;
}

.modal-header {
  background-color: white;
  padding: 0;
}

.modal-header h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #2f312c;
  margin: 0 auto;
  padding: 10px;
}

.modal-footer {
  background-color: white;
}

#Modal-signup form,
#Modal-signin form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#Modal-signup form input,
#Modal-signin form input {
  width: 80%;
  border-radius: 10px;
  border: 1px solid grey;
}

#Modal-signup form label,
#Modal-signin form label {
  margin: 20px 0 5px 0;
  font-size: 14px;
  color: #2f312c;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

#Modal-signin a {
  font-size: 14px;
  position: absolute;
  right: 30px;
  bottom: 74px;
}

#Modal-signup form button,
#Modal-signin form button {
  background-color: #eff7f9;
  margin-top: 10px;
  color: #2f312c;
  border: 2px solid grey;
  border-radius: 20px;
  font-size: 15px;
  padding: 8px 20px 8px 20px;
  margin: 40px 0 20px 0;
}

#Modal-signup form button:hover,
#Modal-signin form button:hover {
  background-color: rgba(47, 49, 44, 0.2);
}
#Modal-signup form button:active,
#Modal-signin form button:active {
  background-color: rgba(47, 49, 44, 0.404);
}

#S-footer,
#M-footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  position: relative;
}

#S-footer p,
#M-footer p {
  font-size: 14px;
  margin: 0;
  justify-self: flex-start;
}

#S-footer button,
#M-footer button {
  color: #2f312c;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: #eff7f9;
  align-self: center;
  font-size: 14px;
  position: absolute;
  right: 0px;
  padding: 5px 10px 5px 10px;
}

#S-footer button:hover,
#M-footer button:hover {
  background-color: rgba(47, 49, 44, 0.2);    
}
#S-footer button:active,
#M-footer button:active {
  background-color: rgba(47, 49, 44, 0.404);    
}


/* #### 2.Footer #### */

footer {
  background-color: rgba(114, 109, 96, 0.55);
  font-family: "Poppins", sans-serif;
  color: #2f312c;
  font-size: 14px;
}

#foot #address,
#foot #socialmedia {
  text-align: center;
  height: 150px;
  padding-top: 20px;
}

/* #### 2.1.Social Media #### */

#socialmedia ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#socialmedia ul li a {
  text-decoration: none;
  font-size: 50px;
  color: #2f312c;
  margin: 15px;
}

#socialmedia ul li a #fb:hover {
  color: #3b5998;
}
#socialmedia ul li a #tt:hover {
  color: #08a0e9;
}
#socialmedia ul li a #yt:hover {
  color: #c4302b;
}

#socialmedia ul li a #fb:active {
  color: #3b589880;
}
#socialmedia ul li a #tt:active {
  color: #08a2e980;
}
#socialmedia ul li a #yt:active {
  color: #c4302b80;
}

/* #### 2.2.Address #### */

#address {
  text-align: center;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#address div {
  width: 50%;
}

/* #### 2.3.Copyright #### */

#copyright {
  position: relative;
  height: 60px;
}

#copyright p {
  position: absolute;
  right: 20px;
  bottom: 0;
}

/* #### 3.Media-screen-width #### */

/* #### 3.1.991px #### */
@media only screen and (max-width: 991px) {
  #menu {
    margin-right: 0;
  }
  #menu li {
    text-align: center;
    padding: 6px 0 6px 0;
    width: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    display: flex;
    justify-content: center;
  }
  #menu li a {
    width: 200px;
    padding: 6px 8px 6px 8px;
    margin-left: 0;
  }
  #collapseNav {
    border-top: 2px solid #dae8ec;
    border-bottom: 2px solid #dae8ec;
  }
}

/* #### 3.2.576px #### */
@media only screen and (max-width: 576px) {
  #toggle-icon i {
    padding: 6px;
    font-size: 20px;
  }
  #logo-container {
    margin: 0.5vw 0 0.5vw 3vw;
  }
  #logo-container a img {
    height: 38px;
  }
  #menu li a {
    font-size: 16px;
  }
  #address {
    flex-direction: column;
  }
  #address div {
    width: 100%;
    padding-top: 60px;
    height: 200px;
  }
  footer {
    font-size: 13px;
    height: 450px;
  }
  #copyright {
    height: 150px;
  }
  #page-title {
    font-size: 20px;
    padding: 10px;
  }
}

/* #### 3.3.450px #### */

@media only screen and (max-width: 450px) {
  #logo-container {
    margin: 0 0 0 2vw;
    width: 100px;
  }
  #logo-container a img {
    height: 9vw;
  }
  #nav-button {
    margin-right: 0;
  }
  #toggle-icon i {
    padding: 5px;
    font-size: 15px;
  }
}
