@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #eff7f9;
}

/* ----------Header---------- */

#active-page {
  background-color: rgba(47, 49, 44, 0.2);
  border-radius: 10px;
}

#header {
  padding: 0;
  background-color: #91a19a;
  box-shadow: 0 3px 4px grey;
}

/* ----------Navbar Toggler---------- */

#nav-button {
  margin-right: 2vw;
}

#toggle-icon {
  color: #2f312c;
}

#toggle-icon i {
  padding: 5px;
  border: 1px solid #2f312c;
  border-radius: 10px;
}

#toggle-icon i:hover {
  background-color: rgba(47, 49, 44, 0.2);
  color: rgba(47, 49, 44);
}

/* ----------/navbar Toggler---------- */

/* ----------Logo---------- */

#logo {
  margin-left: 2vw;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#logo a {
  text-decoration: none;
  padding: 0;
}

#logo a img {
  height: 50px;
  padding: 5px;
}

/* ----------/logo---------- */

/* ----------Navbar---------- */

#menu {
  margin-right: 2vw;
}

#menu li {
  padding: 12px 0px 12px 0px;
}

#menu li a {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #2f312c;
  margin-left: 1vw;
}

#menu li a i {
  font-size: 16px;
}

/* ----------/navbar---------- */

/* ----------Media---------- */

#menu li a:hover {
  background-color: rgba(47, 49, 44, 0.2);
  padding: 6px 8px 6px 8px;
  box-shadow: 0 4px 4px grey;
  border-radius: 10px;
}

@media only screen and (max-width: 991px) {
  #menu {
    margin-right: 0;
  }
  #menu li {
    display: block;
    text-align: right;
    margin-right: 40px;
    padding: 0;
  }
  #menu li a {
    padding: 6px 8px 6px 8px;
    margin-left: 0;
  }
  #collapseNav {
    border-top: 2px solid #eff7f9;
    background-color: #91a19a;
  }
  #menu li a:hover {
    background-color: rgba(47, 49, 44, 0.2);
    padding: 6px 8px 6px 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px;
  }
}

@media only screen and (max-width: 569px) {
  #nav-button {
    margin-right: 2vw;
  }
  #logo {
    margin-left: 5px;
  }
  #logo a img {
    height: 9vw;
  }
  #menu li {
    margin-right: 2vw;
  }
  #menu li a {
    font-size: 4vw;
  }
  #menu li a:hover {
    padding: 6px 8px 6px 8px;
  }
  #toggle-icon i {
    font-size: 15px;
    border-radius: 7px;
    padding: 4px;
  }
}

@media only screen and (max-width: 374px) {
  #logo a img {
    height: 32px;
  }
}

/* ----------/media---------- */

/* ----------/header---------- */

/* ----------Footer---------- */

footer {
  background-color: #91a19a;
  font-family: "Poppins", sans-serif;
  color: #2f312c;
  font-size: 15px;
}

#foot #address,
#foot #socialmedia {
  text-align: center;
  height: 150px;
  padding-top: 30px;
}

#copyright {
  position: relative;
  height: 60px;
  margin: 0;
  padding: 0;
}

#copyright p {
  position: absolute;
  right: 20px;
  bottom: 0;
}

#address {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#address div {
  margin: 0;
  padding: 0;
  width: 50%;
}

#socialmedia ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#socialmedia ul li a {
  text-decoration: none;
  font-size: 50px;
  color: #2f312c;
  margin: 15px;
}

#socialmedia ul li a #fb:hover {
  color: #3b5998;
}
#socialmedia ul li a #tt:hover {
  color: #08a0e9;
}
#socialmedia ul li a #yt:hover {
  color: #c4302b;
}

@media only screen and (max-width: 569px) {
  #address {
    flex-direction: column;
  }
  #address div {
    width: 100%;
    padding-top: 60px;
    height: 200px;
  }
    footer {
      font-size: 13px;
      height: 450px;
    }
    #copyright {
        height: 150px;
    }
  }
}

/* ----------/footer---------- */

#page-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 15px 0 15px 0;
  letter-spacing: 0;
}

@media only screen and (max-width: 619px) {
  #page-title {
    font-size: 5.5vw;
    padding-top: 5px;
    letter-spacing: 1px;
  }
}
