{% extends 'base.html' %}
{% block content %}

	<section>
		<h2 id="page-title">Frequently Asked Questions</h2>
		<div class="container-fluid">
			<div id="QandA" class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<h2>How often do we meet?</h2>
					<p>
						We meet at a minimum of once a month. You can read more than one
						book however and attend as many of the sessions as you like. For
						now there are a maximum of five sessions a month, but as our
						membership increases we expect the number of sessions to increase.
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<h2>How do we catch up on missed sessions?</h2>
					<p>
						If you can't make it to one of our sessions you're free to discuss
						the book via our social media page on
						<a href="https://www.facebook.com" target="_blank">Facebook</a> or
						<a href="https://www.twitter.com" target="_blank">Twitter</a>, or
						you can subscribe to our monthly podcast on
						<a href="https://www.youtube.com" target="_blank">Youtube</a>,
						where we will bring up some of the discussion points that we
						brought up during the session. Members may be invited onto the
						podcast to review the book that was covered.
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<h2>Is there an age limit?</h2>
					<p>
						As the sessions are held in a bar, you must be at least 18 before
						you can join. However, if you are old enough to sign up to
						Facebook, Twitter, or Youtube, you are free to follow the
						discussion there until you are 18 years old.
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<h2>How do we get the books we want to read?</h2>
					<p>
						The books we cover may be purchased from any local book store or
						online book retailer.
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<h2>Is it okay if I can't complete the book?</h2>
					<p>
						Ideally you should complete the book, but sometimes circumstances
						don't allow for that. You're still free to discuss what you have read
						at the sessions if you are still interested in participating.
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<h2>Why a book club?</h2>
					<p>
						Many of us love books but often bore the ear of our loved ones who
						aren't as enthusiatic about them as we are. Our mission is to
						bring together like minded individuals who are interested in the
						long dissection of a book after its completion.
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<h2>How long is each session?</h2>
					<p>
						The private lounge is exclusive to our club for only 90 minutes,
						so the sessions will typically fill that time. You are still free
						to remain in the bar with any other members who decide to stay and
						continue discussing whatever you like.
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<h2>Do I have to pay to be a member?</h2>
					<p>
						Membership costs £5 a month. The costs go to hiring the private
						lounge at the bar.
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<h2>How is each book picked?</h2>
					<p>
						At the end of the session, each member will share some books they
						would like to cover at the next session and then a book is voted
						on.
					</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}