{% extends "base.html" %} 
{% block content %}

<section>
  <h2 id="page-title">Meet our members and what they're reading!</h2>

  <div class="container-fluid">
    <div class="row">
      <!-- Members -->
      <div class="col-lg-8 col-12">
        <ul class="list-inline" id="list">
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/43371494422_db6dbf21a5_b.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Oscar Walsh</p>
              <p>Meditations on First Philosophy</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/480px-Irène_Duval,_2017.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Niamh Smith</p>
              <p>Boulevard Wren and Other Stories</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/8548668975_2a5da89b7d_b.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Pádraig O'Neill</p>
              <p>Meditations on First Philosophy</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/9965420034_1b7450e257_b.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Seán Byrne</p>
              <p>Boulevard Wren and Other Stories</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/ben-knapen-portrait-person-face-wallpaper-preview.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Brian Kelly</p>
              <p>The Brothers Karamazov</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/eyes-face-head-portrait.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Julia McStay</p>
              <p>Boulevard Wren and Other Stories</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/focus-photography-of-man-in-black-framed-eyeglasses.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Dominic West</p>
              <p>Meditations on First Philosophy</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/girl-beauty-summer-model.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Shannon Doyle</p>
              <p>Meditations on First Philosophy</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/images (1).jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Caitlín McCabe</p>
              <p>The Brothers Karamazov</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/images.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Saoirse Loye</p>
              <p>Boulevard Wren and Other Stories</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/Man_2.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Greg Murphy</p>
              <p>Nicholas & Alexandra</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/Man_with_a_beard.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>James McManus</p>
              <p>Nicholas & Alexandra</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/man-352563_960_720.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Declan Smyth</p>
              <p>The Brothers Karamazov</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/portrait-3024579_960_720.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Conor Mead</p>
              <p>The Demon-Haunted World</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/Red_Haired_Man.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Seán McMahon</p>
              <p>The Brothers Karamazov</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/religious-woman-1586957522pYJ.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Siobhán Collins</p>
              <p>The Demon-Haunted World</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/Woman_1.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Mary Plunkett</p>
              <p>Nicholas & Alexandra</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/Woman_2.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Nadine Neeson</p>
              <p>The Demon-Haunted World</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/woman-4868954_960_720.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Sandra Hume</p>
              <p>Nicholas & Alexandra</p>
            </div>
          </li>
          <li class="flex-list">
            <div class="members">
              <div>
                <img
                  src="img/members-images/woman-in-blue-crew-neck-shirt.jpg"
                  alt="placeholder image"
                />
              </div>
              <p>Helen Berkeley</p>
              <p>The Demon-Haunted World</p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Gallery -->
      <div id="gallery" class="col-lg-4 col-12">
        <img src="img/gallery/056912_e6dcbcf5.jpg" alt="gallery image 1" />
        <img src="img/gallery/101026-F-6448T-101.JPG" alt="gallery image 2" />
        <img
          src="img/gallery/12093113715_d70ff6c4a4_z.jpg"
          alt="gallery image 3"
        />
        <img src="img/gallery/130110-F-LC301-066.JPG" alt="gallery image 4" />
        <img
          src="img/gallery/13432737073_2b23f954f1_b.jpg"
          alt="gallery image 5"
        />
        <img src="img/gallery/5161333_ff39d66c.jpg" alt="gallery image 6" />
        <img
          src="img/gallery/Bilingual_welcome_sign_Rostrevor.jpg"
          alt="gallery image 7"
        />
        <img
          src="img/gallery/book-close-up-eyeglasses-flowers-thumbnail.jpg"
          alt="gallery image 8"
        />
      </div>
    </div>
  </div>
</section>

{% endblock %}
